{% extends "blogs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-item-center mb-3">
        <div class="col-md-10  mt-3 text-center ">
            <div class="card text-center">
                <div class="card-body bg-info p-2">
                  <h5 class="card-title">Welcome To BLog Application</h5>
                  <p class="card-title">Please Enter Your Log In Credential</p>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log In</button>
            <a href="{% url 'password_reset' %}" class="ml-3" style="font-size: 14px;">Forgotten Password?</a>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Do you need an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </small>
    </div>
</div>
{% endblock content %}